name = "ai-powered-static-portfolio-worker-v2"
main = "src/index.ts"
compatibility_date = "2025-09-15"

[vars]
ALLOWED_ORIGINS = "https://ai-powered-static-portfolio-worker-v2.gmphorg379.workers.dev"

# Environment variables and bindings for your API
# [vars]
# [[kv_namespaces]]
# ...

[assets]
directory = "../dist"
binding = "ASSETS"

[dev]
port = 8787
inspector_port = 0
