name = "ai-powered-static-portfolio-worker"
main = "src/index.ts"
compatibility_date = "2025-09-15"
keep_vars = true

[dev]
port = 8787
inspector_port = 0

[vars]
ALLOWED_ORIGINS ="http://localhost:5173,http://127.0.0.1:5173,https://gmpho.github.io/AI-powered-Static-portfolio/"
PROJECT_SEARCH_SIMILARITY_THRESHOLD = "0.7"
RECRUITER_WHITELIST_EMAIL = ""