name = "ai-powered-static-portfolio-worker"
main = "src/index.ts"
compatibility_date = "2025-09-15"

# Environment variables and bindings for your API
# [vars]
# [[kv_namespaces]]
# ...

[dev]
port = 8787
inspector_port = 0